@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FE3FC3A4-735B-4A0D-92BA-6452C15A65BA
node-linker=hoisted
auto-install-peers=true